body
  display flex
  min-height 100vh
  flex-direction column
  
main
  flex 1 0 auto
  
#logo
  margin-left 100px
  text-align center
  @media screen and (max-width: 990px)
    margin-left 0px
    
.logoprincipal
  background-image url("/img/slider/fondo.jpg") 
  
#opciones
  margin-right 100px
  
#card_product
  position relative
  z-index 10

#productos_destacados
  left 8% 
  top -150px
  @media screen and (max-width: 992px)
    left 7%
  @media screen and (max-width: 700px)
    top -110px
    

#productos_destacados1
  left 12.5% 
  top -150px
  @media screen and (max-width: 700px)
    top -110px

#productos_destacados2
  left 17% 
  top -150px
  @media screen and (max-width: 992px)
    left 31%
  @media screen and (max-width: 700px)
    top -110px 
    
.producto_mr
  margin-right 20px

.color-black
  color #000
.sp
  margin-bottom 2px
  z-index 12
  
.border_products
  border 6px solid #082D59
  border-radius 9px 9px 9px 9px
  -moz-border-radius 9px 9px 9px 9px
  -webkit-border-radius 9px 9px 9px 9px

.slider_marcas
  position relative
  left 7%
  @media screen and (max-width: 1490px)
    left 3%
  @media screen and (max-width: 990px)
    left 4%
  @media screen and (max-width: 850px)
    left 10%
  @media screen and (max-width: 750px)
    left 7%
  @media screen and (max-width: 600px)
    left 29%
.parallax-container
  height 600px
.tm
  position relative
  top -70px
#map-canvas
  height 100%
  margin 0px
  padding 0px